.wrapper{
    width: 300px;
    background: rgb(39, 38, 38);
    height: 400px;
    border: white;
    border-radius: 50px;
    
}
img{
 border-radius: 600px;
 border:  rgb(2, 2, 3);
}
button{
    width: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}
body{
    background-color: rgb(255, 255, 255);
}
h1{
    text-align: center;
}


